* {
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

#field {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid black;
}

.brick {
    border: 1px solid blue;
}
